*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.center{
  width: 100%;
  text-align: center;
}

/*Header*/
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-item: center;
  z-index: 10000;
  backdrop-filter: blur(20px);
}

header .logo{
  position: relative;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 2em;
}

header ul{
  position: relative;
  display: flex;
  gap: 40px;
}

header ul li{
  list-style: none;
}

header ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.25em;
}

header ul li.active a,
header ul li:hover a{
  color: #30fe6c;
}

/*HOME*/
#home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
}

#home::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  height: 25vw;
  background: #30fe6c;
  border-top-right-radius: 25vw;
  border-top-left-radius: 25vw;
}

#home .content{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 650px;
  z-index: 10;
}

#home .content h2{
  position: relative;
  font-size: 5em;
  color: #30fe6c;
}

#home .content p{
  position: relative;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.6em;
}

.btn{
  position: relative;
  display: inline-block;
  font-size: 1.25em;
  max-width: 200px;
  background: #30fe6c;
  color: #222;
  text-aling: center;
  padding: 18px 30px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-decoration: none;
  margin-top: 10px;
}

#home .men{
  position: absolute;
  bottom: 0;
  right: 100px;
  max-height: 90vh;
}

/*TECH*/
#tech,
#projects,
#contact{
  position: relative;
  background: #34353a;
  padding: 120px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#tech{
  min-height: 50vh;
}

#projects,
#contact{
  min-height: 100vh;
}

.secText{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.secText h2{
  font-size: 3em;
  color: #fff;
}

#projects{
  background: #2e2f34;
  text-align: center;
}

/*RESPONSIVE*/
@media (max-width: 900px){

  header{
    padding: 20px 50px;
  }

  #home{
    padding: 100px 50px;
    flex-direction: column;
    padding-bottom: 0;
  }

  #home .content h2{
    font-size: 4em;
  }

  .btn{
    max-width: 160px;
    padding: 10px 20px;
  }

  #home .men{
    position: absolute;
    height: 50vh;
    right: 0;
  }

  #home .secText h2{
    font-size: 2em;
    text-align: center;
  }

  #tech,
  #projects,
  #contact{
    padding: 100px 50px 50px;
  }

  .menuToggle{
    position: relative;
    width: 30px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .menuToggle::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(-10px);
    transition: 0.5s;
    box-shadow: 0 10px #fff;
  }

  .menuToggle::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: translateY(10px);
    transition: 0.5s;
  }

  header .active .menuToggle::before{
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 #fff;
  }

  header .active .menuToggle::after{
    transform: translateY(0px) rotate(315deg);
  }

  header ul{
    display: none;
  }

  header.active ul{
    position: fixed;
    left: 0;
    top: 84px;
    width: 100%;
    height: calc(100vh - 84px);
    background: rgba(50,50,50,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10000;
    gap: 20px;
  }

  header .active ul li a{
    font-size: 2em;
  }


}

@media (max-width: 700px){
  
  #home .content h2{
    font-size: 3em;
  }

  #home::before{
    width: 80vw;
    height: 40vw;
    border-top-right-radius: 80vw;
    border-top-left-radius: 80vw
  }

  #home .men{
    height: 40vh;
  }
}
